# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/PasswordCracker/v16/.suo
.vs/PasswordCracker/v16/Browse.VC.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
CppProperties.json
PasswordCracker/.vs/PasswordCracker/v16/Browse.VC.db
PasswordCracker/.vs/PasswordCracker/v16/Browse.VC.db-shm
PasswordCracker/.vs/PasswordCracker/v16/Browse.VC.db-wal
PasswordCracker/.vs/PasswordCracker/v16/Browse.VC.opendb
PasswordCracker/PasswordCracker.sln
PasswordCracker/PasswordCracker.vcxproj
PasswordCracker/PasswordCracker.vcxproj.filters
PasswordCracker/PasswordCracker.vcxproj.user
PasswordCracker/.vs/PasswordCracker/v16/.suo
PasswordCracker/.vs/PasswordCracker/v16/ipch/AutoPCH/118ed7b148893b63/PASSWORD_DICTIONARY_ATTACK.ipch
PasswordCracker/.vs/PasswordCracker/v16/ipch/AutoPCH/26b9d9a8540c4c36/PASSWORD_COMPONENT.ipch
PasswordCracker/.vs/PasswordCracker/v16/ipch/AutoPCH/66d9255fc205c8cc/PASSWORD_CRACK.ipch
PasswordCracker/.vs/PasswordCracker/v16/ipch/AutoPCH/f7f83330ceb70c75/PASSWORD_COMPARE.ipch
PasswordCracker/Debug/PasswordCracker.exe.recipe
PasswordCracker/Debug/PasswordCracker.ilk
PasswordCracker/Debug/PasswordCracker.log
PasswordCracker/Debug/PasswordCracker.pdb
PasswordCracker/Debug/PasswordCracker.tlog/CL.command.1.tlog
PasswordCracker/Debug/PasswordCracker.tlog/CL.read.1.tlog
PasswordCracker/Debug/PasswordCracker.tlog/CL.write.1.tlog
PasswordCracker/Debug/PasswordCracker.tlog/link.command.1.tlog
PasswordCracker/Debug/PasswordCracker.tlog/link.read.1.tlog
PasswordCracker/Debug/PasswordCracker.tlog/link.write.1.tlog
PasswordCracker/Debug/PasswordCracker.tlog/PasswordCracker.lastbuildstate
PasswordCracker/Debug/PasswordCracker.vcxproj.FileListAbsolute.txt
PasswordCracker/Debug/vc142.idb
PasswordCracker/Debug/vc142.pdb
